<div class="animationCover"></div>
<div class="viewWrapper">
  <div class="pageWrapper" ng-controller="MainController">
    <section class="profileIntro">
      <div class="profileIntroImageLg"></div>
      <div class="profileIntroContent">
        <div>
          <h3>Hey there</h3>
        </div>
        <div>
          <div>
            <img src="media/me.jpg" alt="Me">
          </div>
          <div>
            <p>
              My name is Clayton Kinder. I am a web developer currently residing in Charleston, South Carolina. As a front-end engineer, it is my duty to create clean, clear, and creative websites that both astound and inform. I use state-of-the-art web technologies to achieve this standard. When I'm not battling the web development demons, I enjoy video games, playing guitar, and swimming.
            </p>
          </div>
        </div>
        <div></div>
      </div>

    </section>

    <div class="spaceBlock"></div>

    <section class="profileProjects">
      <h3>My Projects</h3>
      <div>
        <h4>For more information, visit the projects tab.</h4>
        <div class="profileProjectBlock beacon">
          <h1 unselectable="on">
            BEACON
          </h1>
          <div>
            <a href="https://ck-beacon-frontend.herokuapp.com/" target="_blank">
              <i class="fa fa-link"></i>
            </a>
            <a href="https://github.com/ClaytonKinder/village-at-coosaw" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </div>
        </div>
        <div class="profileProjectBlock village">
          <h1 unselectable="on">
            The Village at Coosaw
          </h1>
          <div>
            <a href="http://www.villageatcoosaw.com/" target="_blank">
              <i class="fa fa-link"></i>
            </a>
            <a href="https://github.com/ClaytonKinder/village-at-coosaw" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </div>
        </div>
        <div class="profileProjectBlock gdg">
          <img class="gdg" src="media/gdg.png" alt="GDG">
          <div>
            <a href="https://www.gooddonegreat.com" target="_blank">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <div class="spaceBlock"></div>

    <section class="profileToolbox">
      <h3>My Toolbox</h3>
      <div>
        <div class="toolboxBlock">
          <i class="devicon-angularjs-plain-wordmark colored"></i>
        </div>
        <div class="toolboxBlock">
          <i class="devicon-css3-plain-wordmark colored"></i>
        </div>
        <div class="toolboxBlock">
          <i class="devicon-heroku-original-wordmark colored"></i>
        </div>
        <div class="toolboxBlock">
          <i class="devicon-html5-plain-wordmark colored"></i>
        </div>
        <div class="toolboxBlock">
          <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="toolboxBlock">
          <i class="devicon-jquery-plain-wordmark colored"></i>
        </div>
        <div class="toolboxBlock">
          <i class="devicon-mongodb-plain-wordmark colored"></i>
        </div>
        <div class="toolboxBlock">
          <i class="devicon-mysql-plain-wordmark colored"></i>
        </div>
        <div class="toolboxBlock">
          <i class="devicon-nodejs-plain-wordmark colored"></i>
        </div>
        <div class="toolboxBlock">
          <i class="devicon-php-plain colored"></i>
        </div>
        <div class="toolboxBlock">
          <i class="devicon-sass-original colored"></i>
        </div>
        <div class="toolboxBlock">
          <i class="devicon-wordpress-plain-wordmark colored"></i>
        </div>
      </div>
    </section>

    <div class="spaceBlock"></div>

    <section class="profileMore">
      <h3>More</h3>
      <div>
        <a href="#/projects" ng-click="clickedMoreLink()">
          <h1>Projects</h1>
          <div class="projectsLink">

          </div>
        </a>
        <a href="#/contact" ng-click="clickedMoreLink()">
          <h1>Contact</h1>
          <div class="contactLink">

          </div>
        </a>
      </div>
    </section>



  <ng-include src="'views/footer.html'"></ng-include>
  </div>
</div>
